.mailchimp__getting-started-title {
	margin: 0;
}

.mailchimp__getting-started-title-text {
	font-size: 24px;
	font-weight: 300;
}

.mailchimp__getting-started-subtitle-text {
	font-size: 12px;
	color: $gray;
}

.mailchimp__getting-started-content {
	width: 100%;
	@include breakpoint( ">660px" ) {
		display: inline-flex;
	}
}

.mailchimp__getting-started-list-header {
	font-weight: 500;
}

.mailchimp__getting-started-list {
	color: $gray-text-min;
	list-style: none;
	margin: 0 0 16px 0;
	font-size: 14px;

	li {
		margin: 6px 0;

		.gridicon {
			display: inline;
			margin-right: 8px;
			vertical-align: bottom;
			color: $alert-green;
		}
	}
}

&.dialog__content.mailchimp__setup {
	margin: 0px;
	padding: 0px;
	width: 500px;
	min-height: 400px;
	text-align: left;
}

.mailchimp__setup-dialog-content {
	padding-top: 24px;
	padding-left: 24px;
	padding-bottom: 24px;
	padding-right: 24px;
}

.mailchimp__setup-dialog-progress {
	margin: 0;
}

.mailchimp__setup-dialog-title {
	font-size: 24px;
	padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 10px;
}

.setup-steps__login-title {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 5px;
}

.setup-steps__mailchimp-key-input {
	.form-text-input {
		text-align: left;
	}
}

.setup-steps__mailchimp-login-button {
	margin-top: 10px;
	.gridicon {
		padding-left: 10px;
	}
}

.mailchimp__loading {
	background-color: lighten( $gray, 30% );
	animation: loading-fade 1.6s ease-in-out infinite;
}

.mailchimp__getting-started-list-header,
.mailchimp__getting-started-list,
.mailchimp__getting-started-button {
	@include breakpoint( ">660px" ) {
		margin-left: 24px;
	}
}

&.is-busy {
	animation: button__busy-animation 3000ms infinite linear;
	background-size: 120px 100%;
	background-image: linear-gradient( -45deg, lighten( $gray, 30% ) 28%, $white 28%, $white 72%, lighten( $gray, 30% ) 72%);
}
